In [13]:
import sys, geopandas as gpd, pandas as pd
from tqdm import tqdm
sys.path.append("..")
from src import user_function as utils

ModuleNotFoundError: No module named 'tqdm'

# Principal data

In [9]:
shp_data = gpd.read_file("../data/0_shapefile/pos_gdf.shp").to_crs(epsg=4326)
shp_data.head(2)

,id_distr_b,year,newid,baseline_P,geometry
0,204,2015,3185,473,"POLYGON ((71.48246 34.14608, 71.48349 34.14576..."
1,203,2015,3185,472,"POLYGON ((71.48246 34.14608, 71.48349 34.14576..."

In [10]:
shp_data.shape

(163, 5)

# Rasters Data

##  Night Light

In [12]:
sample_shp = shp_data.sample(4, random_state=1)
collect_data = pd.DataFrame()
for