In [2]:
import sys, geopandas as gpd, pandas as pd
import warnings 
warnings.filterwarnings('ignore')
sys.path.append("..")
from src import user_function as utils

# Principal Data

In [4]:
shp_data = gpd.read_file("../data/0_shapefile/pos_gdf.shp").to_crs(epsg=4326)
raster_path = '../data/2_setlement/GHS_BUILT_C_MSZ_E2018_GLOBE_R2022A_54009_10_V1_0.tif'
shp_data.head(2)

,index,id_distr_b,year,newid,baseline_P,geometry
0,0,204,2015,3185,473,"POLYGON ((71.48246 34.14608, 71.48349 34.14576..."
1,1,203,2015,3185,472,"POLYGON ((71.48246 34.14608, 71.48349 34.14576..."

## Raster Data

### Testing

In [6]:
sample_shp_1 = shp_data.sample(3, random_state=12)
with_nas_test, without_nas_test= utils.get_metrics_setl(raster_path,  sample_shp_1)

In [7]:
with_nas_test

,index,id_distr_bank,year,newid,baseline_PSU,dummy_settl_0,dummy_settl_11,dummy_settl_2,dummy_settl_3,dummy_settl_5
0,5.0,242.0,2015.0,3192.0,344.0,0.989327,0.005351,0.000595,0.004681,0.000047
0,23.0,112.0,2015.0,3219.0,159.0,0.991230,0.004201,0.000137,0.004302,0.000131
0,66.0,219.0,2015.0,13049.0,191.0,0.994841,0.002531,0.000000,0.002628,0.000000

In [8]:
without_nas_test

,index,id_distr_bank,year,newid,baseline_PSU,dummy_settle_without_na_11,dummy_settle_without_na_2,dummy_settle_without_na_3,dummy_settle_without_na_5
0,5.0,242.0,2015.0,3192.0,344.0,0.501326,0.055703,0.438550,0.004421
0,23.0,112.0,2015.0,3219.0,159.0,0.478997,0.015583,0.490515,0.014905
0,66.0,219.0,2015.0,13049.0,191.0,0.490654,0.000000,0.509346,0.000000

### All data

In [9]:
with_nas, without_nas = utils.get_metrics_setl(raster_path, shp_data)

In [11]:
utils.save_data(with_nas, "settlement_with_nas", head_name="2_metrics_", path_dir="../output/")
utils.save_data(without_nas, "settlement_without_nas", head_name="2_metrics_", path_dir="../output/")