In [15]:
import sys, geopandas as gpd, pandas as pd
import warnings 
warnings.filterwarnings('ignore')
sys.path.append("..")
from src import user_function as utils

# Principal data

In [16]:
shp_data = gpd.read_file("../data/0_shapefile/pos_gdf.shp").to_crs(epsg=4326)
shp_data.head(2)

,index,id_distr_b,year,newid,baseline_P,geometry
0,0,204,2015,3185,473,"POLYGON ((71.48246 34.14608, 71.48349 34.14576..."
1,1,203,2015,3185,472,"POLYGON ((71.48246 34.14608, 71.48349 34.14576..."

In [17]:
shp_data.shape

(163, 6)

# Rasters Data

## Test example

In [18]:
nightlight_tiff = "../data/8_night_light/pk_night_light_harm.tiff"

In [19]:
collect_test = pd.DataFrame()
sample_shp = shp_data.sample(4, random_state=1)
for i in range(len(sample_shp)):
    row = sample_shp.iloc[i:i+1]
    df = utils.crop_raster(nightlight_tiff, row)
    df = utils.points_inside(df, row)
    stats = utils.simple_metrics(df, target_name = "nightlight_test")
    collect_test = pd.concat((collect_test, stats))

In [20]:
collect_test

,index,id_distr_bank,year,newid,baseline_PSU,nightlight_test_mean,nightlight_test_sd,nightlight_test_sum
3,44,201,2015,3243,460,59.500000,0.707107,119.0
9,47,194,2015,3245,469,36.846153,5.257473,479.0
11,94,227,2015,13175,176,10.800000,2.709460,378.0
38,78,18,2015,13102,142,24.385542,16.896263,2024.0

### Using Package

In [21]:
utils.get_metrics(nightlight_tiff, sample_shp, 'nightlight_test')

,index,id_distr_bank,year,newid,baseline_PSU,nightlight_test_mean,nightlight_test_sd,nightlight_test_sum
3,44,201,2015,3243,460,59.500000,0.707107,119.0
9,47,194,2015,3245,469,36.846153,5.257473,479.0
11,94,227,2015,13175,176,10.800000,2.709460,378.0
38,78,18,2015,13102,142,24.385542,16.896263,2024.0

## Population

In [22]:
pop_tif = "../data/1_density/pak_ppp_2018_1km_Aggregated.tif"
pop_name = "population"
pop_info = utils.get_metrics(pop_tif, shp_data, pop_name)
utils.save_data(pop_info, pop_name, head_name="1_metrics_", path_dir='../output/')
pop_info.head()

,index,id_distr_bank,year,newid,baseline_PSU,population_mean,population_sd,population_sum
1,0,204,2015,3185,473,1186.241577,319.477356,28469.798828
1,1,203,2015,3185,472,1186.241577,319.477356,28469.798828
6,2,206,2015,3186,475,6661.680664,1596.328247,33308.402344
59,3,141,2015,3189,582,207.739807,389.778229,106570.523438
15,4,140,2015,3191,567,48.604107,76.729019,58276.324219

## Motor

In [23]:
motor_tif = "../data/5_friction_surface/2020_motorized_friction_surface.geotiff"
motor_name = "motor"
motor_info = utils.get_metrics(motor_tif, shp_data, motor_name)
utils.save_data(motor_info, motor_name, head_name="5_metrics_", path_dir='../output/')
motor_info.head()

,index,id_distr_bank,year,newid,baseline_PSU,motor_mean,motor_sd,motor_sum
1,0,204,2015,3185,473,0.002363,0.004645,0.059079
1,1,203,2015,3185,472,0.002363,0.004645,0.059079
11,2,206,2015,3186,475,0.001125,0.000377,0.004500
59,3,141,2015,3189,582,0.007954,0.007866,4.080442
14,4,140,2015,3191,567,0.015261,0.008198,18.344032

## Altitude

In [24]:
srtm_tif = "../data/6_srtm/PK_srtm.tif"
srtm_name = "altitude"
srtm_info = utils.get_metrics(srtm_tif, shp_data, srtm_name)
utils.save_data(srtm_info, srtm_name, head_name="6_metrics_", path_dir='../output/')
srtm_info.head()

,index,id_distr_bank,year,newid,baseline_PSU,altitude_mean,altitude_sd,altitude_sum
4,0,204,2015,3185,473,326.876068,3.614312,757045.0
4,1,203,2015,3185,472,326.876068,3.614312,757045.0
4,2,206,2015,3186,475,357.257202,5.082992,173627.0
582,3,141,2015,3189,582,0.100000,0.100000,0.1
150,4,140,2015,3191,567,130.559204,92.660477,15675461.0

## Nightlight

#### Harm

In [25]:
nightlight_h_tiff = "../data/8_night_light/pk_night_light_harm.tiff"
name_night_h = "nightlight_harm"
info_night_harm = utils.get_metrics(nightlight_h_tiff, shp_data, name_night_h)
info_night_harm.head()

,index,id_distr_bank,year,newid,baseline_PSU,nightlight_harm_mean,nightlight_harm_sd,nightlight_harm_sum
9,0,204,2015,3185,473,8.318182,0.476731,183.0
9,1,203,2015,3185,472,8.318182,0.476731,183.0
12,2,206,2015,3186,475,53.666668,2.081666,161.0
58,3,141,2015,3189,582,16.397638,14.010821,8330.0
47,4,140,2015,3191,567,2.847627,3.267404,3420.0

In [26]:
utils.save_data(info_night_harm, name_night_h, head_name="8_metrics_", path_dir='../output/')

#### Original

In [27]:
nightlight_tiff = '../data/8_night_light/pk_night_light.tiff'
name_night = "nightlight"
info_night = utils.get_metrics(nightlight_tiff, shp_data, name_night)
utils.save_data(info_night, name_night, head_name="8_metrics_", path_dir="../output/")

In [28]:
info_night.head()

,index,id_distr_bank,year,newid,baseline_PSU,nightlight_mean,nightlight_sd,nightlight_sum
17,0,204,2015,3185,473,4.761764e-01,0.303871,4.380823e+01
17,1,203,2015,3185,472,4.761764e-01,0.303871,4.380823e+01
9,2,206,2015,3186,475,9.440191e+00,3.005657,1.510431e+02
117,3,141,2015,3189,582,-1.666667e+35,0.100000,-3.400000e+38
92,4,140,2015,3191,567,5.026005e-02,0.259624,2.413488e+02